<a href="https://colab.research.google.com/github/michdcode/API_FUN/blob/master/logistic_regression_fraud.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, confusion_matrix

In [0]:
df = pd.read_csv('payment_fraud.csv')

In [5]:
df.sample(30)

       accountAgeDays  numItems  ...  paymentMethodAgeDays label
29869              10         1  ...              9.658333     0
17636            2000         1  ...              0.000000     0
17049             134         1  ...            122.704167     0
5838             1980         1  ...            272.500000     0
22457              26         1  ...              0.000694     0
31601            2000         1  ...              0.009028     0
27256            2000         1  ...              0.000000     0
33862             230         1  ...              0.000000     0
38120            2000         1  ...              4.428472     0
37254              91         1  ...             90.143750     0
24777             244         1  ...              0.000000     0
13466            2000         1  ...            143.885417     0
840                 1         1  ...              0.000694     1
3670               14         1  ...              0.000000     0
7994             2000         1  ...              0.000694     0
26122             103         1  ...              0.000000     0
35725             120         1  ...              0.030556     0
31388            2000         1  ...              0.000000     0
9506              544         1  ...            542.939583     0
13525            2000         1  ...            756.100694     0
7840               22         1  ...              0.000694     0
32435              16         1  ...              0.000000     0
23770              73         1  ...             72.896528     0
23529            1696         1  ...              0.000000     0
23862              35         1  ...             28.054167     0
25208             544         1  ...              0.002083     0
16696            1452         1  ...             78.879167     0
24217             156         1  ...            155.917361     0
11998             521         1  ...              0.007639     0
32006               3         1  ...              0.000000     0

[30 rows x 6 columns]

In [0]:
# this will convert the payment method into numbers
df = pd.get_dummies(df, columns=['paymentMethod'])

In [0]:
X_train, X_test, y_train, y_test = train_test_split(
    df.drop('label', axis=1), df['label'],
    test_size=0.33, random_state=17)

In [0]:
clf = LogisticRegression().fit(X_train, y_train)

In [0]:
y_pred = clf.predict(X_test)

In [12]:
print(accuracy_score(y_pred, y_test))
# print(confusion_matrix(y_test, y_pred))

1.0

In [13]:
print(confusion_matrix(y_test, y_pred))

[[12753     0]
 [    0   190]]